# =========================
# Dependencies
# =========================
node_modules/
env/
.venv/

# =========================
# Build outputs
# =========================
dist/
build/
_build/
target/
.scannerwork

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
cryptographic_estimators.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# Documentation builds
# =========================
docs/_build/
docs/build/.doctrees/
docs/source/

# =========================
# Java
# =========================
*.class
*.jar

# =========================
# Maven
# =========================
target/

# =========================
# JetBrains IDEs
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
.local-history/

# =========================
# Test reports
# =========================
TEST*.xml

# =========================
# Applications / binaries
# =========================
*.app
*.exe
*.war

# =========================
# Media files (large assets)
# =========================
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

frontend/node_modules/
frontend/dist/
frontend/.env

backend/.env
backend/venv/
backend/__pycache__/